.App {
  text-align: center;
}

.logo{
width: 50px;
} 
 .header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:3% 10%;
  background-color: aqua;
 }

 .button{
  width: 100px;
 }

 .filmCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
margin-bottom: 250px;
 }
 .filmCard button{
  margin: 50px;
  width: 50%;
  height: 40px;
  background-color:aquamarine;
  
 }


 .filmCard img{
  width: 60%;
opacity: 0.5;
 }
 .filmCard img:hover{
  width: 80%;
opacity: 0.8;
 }
